/* :root{
  background:linear-gradient(90deg,#a6a6a6,#ffffff);
  --color:black;
  --border_color:black;
  
}
[dark-theme="dark"]{
  background:linear-gradient(90deg,#000000,#737373);
  --color:white;
  --border_color:white;

} */
.margin{
  margin:20px auto;
}